In [1]:
import numpy as np 
import matplotlib.pyplot as plt 
import pandas as pd 
from sklearn.linear_model import LinearRegression 
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV
from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler
import statsmodels.api as sm
import csv
from pylab import *
from patsy import dmatrices
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [2]:
#预测
def predict(data,LinearRegression):
    Y_pred = LinearRegression.predict(data)
    print(Y_pred)
    return Y_pred
 
#训练模型并画图
def reg_model(data,label,test):
    regr = LinearRegression()  #线性回归
    #regr = Ridge(alpha=10)   #岭回归
    #regr = Lasso(alpha=0.001)  #Lasso回归
    regr.fit(data.values,label.values)
    Y_pred_train = regr.predict(data.values)   #训练集的预测值
    predict(test.values,regr)  #预测
    print('参数：',regr.coef_.astype(np.float32))    
    
    #对模型进行评估
   
    print("MSE:",mean_squared_error(label.values,Y_pred_train))  #误差
    print("MAE:",mean_absolute_error(label.values,Y_pred_train))
    print("R2:",r2_score(label.values,Y_pred_train))

In [3]:
df01=pd.read_excel('like2ben.xls')

In [4]:
df010 = df01.drop(index = 0)
df011 = df01[0:1]

In [5]:
df01

,year,hubei,henan,shanxi,jiangxi,hunan,anhui,shandong,guangdong,hebei,fujian
0,2020,395,418,449,463,464,435,443.0,410.0,415,402
1,2019,388,385,432,449,448,426,435.0,390.0,379,393
2,2018,375,374,432,447,450,432,433.0,376.0,358,378
3,2017,345,342,400,422,424,413,537.0,360.0,326,333
4,2016,350,447,438,445,439,473,562.0,402.0,364,352
5,2015,448,458,442,490,455,511,572.0,519.0,474,410
6,2014,471,476,462,471,442,438,554.0,504.0,503,408
7,2013,462,443,440,456,423,429,582.0,516.0,478,401
8,2012,494,481,476,486,451,478,567.0,523.0,509,435
9,2011,517,531,520,474,492,477,580.0,504.0,535,460
10,2010,506,500,471,462,494,507,NaN,NaN,518,472

In [6]:
X01=df010[['year','henan','shanxi','jiangxi','hunan','anhui','hebei','fujian']]                         
X01=sm.add_constant(X01)
y01=df010.hubei

In [7]:
X01

    const  year  henan  shanxi  jiangxi  hunan  anhui  hebei  fujian
1     1.0  2019    385     432      449    448    426    379     393
2     1.0  2018    374     432      447    450    432    358     378
3     1.0  2017    342     400      422    424    413    326     333
4     1.0  2016    447     438      445    439    473    364     352
5     1.0  2015    458     442      490    455    511    474     410
6     1.0  2014    476     462      471    442    438    503     408
7     1.0  2013    443     440      456    423    429    478     401
8     1.0  2012    481     476      486    451    478    509     435
9     1.0  2011    531     520      474    492    477    535     460
10    1.0  2010    500     471      462    494    507    518     472

In [8]:
X_test = df011[['year','henan','shanxi','jiangxi','hunan','anhui','hebei','fujian']]

In [9]:
X_test = sm.add_constant(X_test, has_constant='add')

In [10]:
X_test

   const  year  henan  shanxi  jiangxi  hunan  anhui  hebei  fujian
0    1.0  2020    418     449      463    464    435    415     402

In [11]:
reg_model(X01,y01,X_test)

[404.63505067]
参数： [ 0.         -2.226963   -0.5154783   0.52447826 -0.22518434 -0.19403099
  0.1389187   0.8101858   0.3137684 ]
MSE: 0.0007315538018299934
MAE: 0.022960214007071045
R2: 0.9999998103328455